p{
font-size: large;
color:purple;
background-color: aqua;
}

li{
    display: inline;
}
#nao{
    color: red;
}
#nao:hover {
display:none;

}
div{
    margin-left: 45%;

  font-size: 1000%;

}

p{
text-align: center;

font-style: italic;

font-size: 300%;
}